<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/liked.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="pics"></div>

      <div class="footer block">
        <a href="main.html">
          <img src="../png/m1.png" alt="" class="na" />
        </a>

        <a href="liked.html">
          <img src="../png/m2.png" alt="" />
        </a>

        <a href="../index.html">
          <img src="../png/m3.png" alt="" class="na" />
        </a>
      </div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/liked.js"></script>
  </body>
</html>
