.pics {
  margin: auto auto 110px;
}

.pic {
  position: relative;
  display: block;
  width: 327px;
  margin: 12px auto auto;
}

.zone {
  width: 100%;
}

.heart {
  position: absolute;
  right: 10px;
  top: 10px;
}
