.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 327px;
  margin: 25px auto 10px;
}

.title {
  font-size: 21px;
  font-weight: 900;
}

.pic {
  position: relative;
  display: block;
  width: 327px;
  margin: 12px auto auto;
}

.zone {
  width: 100%;
}

.heart {
  position: absolute;
  right: 10px;
  top: 10px;
}

#map {
  margin: 15px auto 110px;
  border-radius: 10px;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 327px;
  margin: 25px auto 10px;
}
